*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7cf48;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 80%;
    max-width: 1600px;
background-color: #eeff00;
height: 500px;
}
header{
    width: 100%;
    height: 100px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 90px;
    height: auto;
}
section{
    width: 100%;
    height: 400px;
    background-color: #00284e;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div input{
    width: 90%;
    height: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    border:0;
    outline: none;
    font-family: sans-serif;
    font-size: 1.2em;
    text-indent: 10px;
    color: hsl(0, 2%, 32%);
    margin-left: 5%;
}
section div input:focus{
    background: #c1c2c4;
}
section div button{
    width: 90%;
    height: 40px;
    margin-left: 5%;
    font-family: sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
}
footer{
    width: 100%;
    height: 90px;
    background-color: hsl(0, 0%, 100%);
}
footer p{
    text-align: center;
    line-height: 90px;
    font-family: sans-serif;
    font-size: 1.1em;
}
footer p a:hover {
    color: rgb(88, 117, 245);
}