*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7cf48;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 80%;
    max-width: 1600px;
background-color: #eeff00;
height: 500px;
}
nav{
    width: 100%;
    height: 50px;
    background: #00284e;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 0 50px;
}
nav ul li a:hover{
    color: rgb(21, 131, 221);
}
header{
    width: 100%;
    height: 100px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 90px;
    height: auto;
}
section{
    width: 100%;
    height: 400px;
    background-color: #00284e;
}
footer{
    width: 100%;
    height: 90px;
    background-color: hsl(0, 0%, 100%);
}
footer p{
    text-align: center;
    line-height: 90px;
    font-family: sans-serif;
    font-size: 1.1em;
}
footer p a:hover {
    color: rgb(88, 117, 245);
}